# DataFrame.jlとCSV.jlを使って，CSVファイルを読み込んで操作してみる

In [1]:
using DataFrames, DataFramesMeta, HTTP, Plots, CSV

## タンパク質の点変異による構造安定性のcsv fileをDataFrameに入れる

In [2]:
url = "http://marid.bioc.cam.ac.uk/sdm2/static/datasets/dataset_S2648.csv"
df = DataFrame(CSV.File(HTTP.get(url).body))
head(df)

6×7 DataFrame. Omitted printing of 1 columns
│ Row │ PDB_CHAIN │ WILD_RES │ POSITION │ MUTANT_RES │ PH      │ TEMPERATURE │
│     │ String    │ String   │ Int64    │ String     │ Float64 │ Float64     │
├─────┼───────────┼──────────┼──────────┼────────────┼─────────┼─────────────┤
│ 1   │ 1A43A     │ G        │ 156      │ A          │ 7.3     │ 25.0        │
│ 2   │ 1A43A     │ E        │ 159      │ D          │ 7.3     │ 25.0        │
│ 3   │ 1A43A     │ R        │ 167      │ A          │ 7.3     │ 25.0        │
│ 4   │ 1A43A     │ W        │ 184      │ A          │ 7.3     │ 25.0        │
│ 5   │ 1A43A     │ C        │ 218      │ S          │ 7.3     │ 25.0        │
│ 6   │ 1A5EA     │ W        │ 15       │ D          │ 8.5     │ 20.0        │

In [3]:
tail(df)

6×7 DataFrame. Omitted printing of 1 columns
│ Row │ PDB_CHAIN │ WILD_RES │ POSITION │ MUTANT_RES │ PH      │ TEMPERATURE │
│     │ String    │ String   │ Int64    │ String     │ Float64 │ Float64     │
├─────┼───────────┼──────────┼──────────┼────────────┼─────────┼─────────────┤
│ 1   │ 5PTIA     │ Y        │ 35       │ N          │ 8.7     │ 25.0        │
│ 2   │ 5PTIA     │ G        │ 36       │ D          │ 8.7     │ 25.0        │
│ 3   │ 5PTIA     │ G        │ 36       │ S          │ 4.6     │ 72.6        │
│ 4   │ 5PTIA     │ G        │ 37       │ A          │ 5.5     │ 23.9        │
│ 5   │ 5PTIA     │ G        │ 37       │ D          │ 8.7     │ 25.0        │
│ 6   │ 5PTIA     │ N        │ 44       │ G          │ 2.0     │ 25.0        │

## 点変異による自由エネルギー変化$\Delta \Delta G$に対して大きい順にしてみる

In [4]:
sort!(df, :EXP_DDG, rev=true) #sort!(df)でdfを書き換えている
head(df)

6×7 DataFrame. Omitted printing of 1 columns
│ Row │ PDB_CHAIN │ WILD_RES │ POSITION │ MUTANT_RES │ PH      │ TEMPERATURE │
│     │ String    │ String   │ Int64    │ String     │ Float64 │ Float64     │
├─────┼───────────┼──────────┼──────────┼────────────┼─────────┼─────────────┤
│ 1   │ 1FVKA     │ H        │ 32       │ Y          │ 7.0     │ 30.0        │
│ 2   │ 1FVKA     │ H        │ 32       │ L          │ 7.0     │ 30.0        │
│ 3   │ 1FVKA     │ H        │ 32       │ S          │ 7.0     │ 30.0        │
│ 4   │ 1N0JA     │ Y        │ 34       │ F          │ 7.8     │ 88.9        │
│ 5   │ 2TRXA     │ D        │ 26       │ A          │ 7.7     │ 25.0        │
│ 6   │ 1QLPA     │ A        │ 183      │ V          │ 6.5     │ 25.0        │

## PHでsortした後に，$\Delta \Delta G$でsortしてみる
以下のコードは，最初にpHでsortした後に，それぞれのグループ，たとえばPH=11.0のデータを$\Delta \Delta G$が大きい順に並び替えることをしている．

In [5]:
sort!(df, [:PH,:EXP_DDG], rev=(true,true))
head(df)

6×7 DataFrame. Omitted printing of 1 columns
│ Row │ PDB_CHAIN │ WILD_RES │ POSITION │ MUTANT_RES │ PH      │ TEMPERATURE │
│     │ String    │ String   │ Int64    │ String     │ Float64 │ Float64     │
├─────┼───────────┼──────────┼──────────┼────────────┼─────────┼─────────────┤
│ 1   │ 1BVCA     │ I        │ 142      │ M          │ 11.0    │ 76.5        │
│ 2   │ 1BVCA     │ I        │ 142      │ L          │ 11.0    │ 76.5        │
│ 3   │ 1BVCA     │ L        │ 29       │ M          │ 11.0    │ 76.5        │
│ 4   │ 1BVCA     │ I        │ 28       │ V          │ 11.0    │ 76.5        │
│ 5   │ 1BVCA     │ L        │ 69       │ I          │ 11.0    │ 76.5        │
│ 6   │ 1BVCA     │ L        │ 69       │ M          │ 11.0    │ 76.5        │

## pH = 7.0のデータ行のみとってくる

In [6]:
df = @linq df |> where(:PH .== 7.0)
head(df)

6×7 DataFrame. Omitted printing of 1 columns
│ Row │ PDB_CHAIN │ WILD_RES │ POSITION │ MUTANT_RES │ PH      │ TEMPERATURE │
│     │ String    │ String   │ Int64    │ String     │ Float64 │ Float64     │
├─────┼───────────┼──────────┼──────────┼────────────┼─────────┼─────────────┤
│ 1   │ 1FVKA     │ H        │ 32       │ Y          │ 7.0     │ 30.0        │
│ 2   │ 1FVKA     │ H        │ 32       │ L          │ 7.0     │ 30.0        │
│ 3   │ 1FVKA     │ H        │ 32       │ S          │ 7.0     │ 30.0        │
│ 4   │ 2TRXA     │ D        │ 26       │ I          │ 7.0     │ 25.0        │
│ 5   │ 1CEYA     │ D        │ 57       │ A          │ 7.0     │ 25.0        │
│ 6   │ 1LNIA     │ D        │ 79       │ Y          │ 7.0     │ 52.6        │

## MUTANT_RESでgroupを作る

In [7]:
df_grouped = @linq df |> groupby(:MUTANT_RES) # This depends on DataFramesMeta.jl

GroupedDataFrame with 19 groups based on key: MUTANT_RES
First Group (12 rows): MUTANT_RES = "Y". Omitted printing of 1 columns
│ Row │ PDB_CHAIN │ WILD_RES │ POSITION │ MUTANT_RES │ PH      │ TEMPERATURE │
│     │ String    │ String   │ Int64    │ String     │ Float64 │ Float64     │
├─────┼───────────┼──────────┼──────────┼────────────┼─────────┼─────────────┤
│ 1   │ 1FVKA     │ H        │ 32       │ Y          │ 7.0     │ 30.0        │
│ 2   │ 1LNIA     │ D        │ 79       │ Y          │ 7.0     │ 52.6        │
│ 3   │ 1VQBA     │ L        │ 32       │ Y          │ 7.0     │ 25.0        │
│ 4   │ 1SHGA     │ F        │ 52       │ Y          │ 7.0     │ 24.9        │
│ 5   │ 1K9QA     │ L        │ 30       │ Y          │ 7.0     │ 56.7        │
│ 6   │ 1ROPA     │ D        │ 30       │ Y          │ 7.0     │ 69.0        │
│ 7   │ 1RN1C     │ D        │ 49       │ Y          │ 7.0     │ 52.4        │
│ 8   │ 1IFCA     │ W        │ 82       │ Y          │ 7.0     │ 25.0        │
│ 9   │ 5DFRA     │ G        │ 121      │ Y          │ 7.0     │ 15.0        │
│ 10  │ 1SHGA     │ K        │ 59       │ Y          │ 7.0     │ 24.9        │
│ 11  │ 1IFCA     │ W        │ 6        │ Y          │ 7.0     │ 25.0        │
│ 12  │ 2LZMA     │ I        │ 58       │ Y          │ 7.0     │ 22.0        │
⋮
Last Group (44 rows): MUTANT_RES = "C". Omitted printing of 1 columns
│ Row │ PDB_CHAIN │ WILD_RES │ POSITION │ MUTANT_RES │ PH      │ TEMPERATURE │
│     │ String    │ String   │ Int64    │ String     │ Float64 │ Float64     │
├─────┼───────────┼──────────┼──────────┼────────────┼─────────┼─────────────┤
│ 1   │ 1ROPA     │ D        │ 30       │ C          │ 7.0     │ 69.0        │
│ 2   │ 1EY0A     │ T        │ 41       │ C          │ 7.0     │ 20.0        │
│ 3   │ 1VQBA     │ H        │ 64       │ C          │ 7.0     │ 25.0        │
│ 4   │ 1VQBA     │ M        │ 77       │ C          │ 7.0     │ 25.0        │
│ 5   │ 1EY0A     │ T        │ 44       │ C          │ 7.0     │ 20.0        │
│ 6   │ 1VQBA     │ V        │ 45       │ C          │ 7.0     │ 25.0        │
│ 7   │ 1VQBA     │ V        │ 19       │ C          │ 7.0     │ 25.0        │
│ 8   │ 1EY0A     │ T        │ 82       │ C          │ 7.0     │ 20.0        │
│ 9   │ 5DFRA     │ G        │ 121      │ C          │ 7.0     │ 15.0        │
│ 10  │ 1EY0A     │ K        │ 78       │ C          │ 7.0     │ 20.0        │
⋮
│ 34  │ 1VQBA     │ L        │ 49       │ C          │ 7.0     │ 25.0        │
│ 35  │ 1VQBA     │ V        │ 63       │ C          │ 7.0     │ 25.0        │
│ 36  │ 1VQBA     │ I        │ 78       │ C          │ 7.0     │ 25.0        │
│ 37  │ 1VQBA     │ L        │ 37       │ C          │ 7.0     │ 25.0        │
│ 38  │ 1VQBA     │ I        │ 47       │ C          │ 7.0     │ 25.0        │
│ 39  │ 1EY0A     │ R        │ 105      │ C          │ 7.0     │ 20.0        │
│ 40  │ 1EY0A     │ Y        │ 27       │ C          │ 7.0     │ 20.0        │
│ 41  │ 2LZMA     │ F        │ 153      │ C          │ 7.0     │ 22.0        │
│ 42  │ 1RN1C     │ V        │ 89       │ C          │ 7.0     │ 25.0        │
│ 43  │ 1RN1C     │ V        │ 78       │ C          │ 7.0     │ 25.0        │
│ 44  │ 1RN1C     │ V        │ 16       │ C          │ 7.0     │ 25.0        │

## Groupがどのように分かれているか確認する

In [8]:
df_grouped.keymap

Dict{Any, Int64} with 19 entries:
  ("L",) => 2
  ("H",) => 13
  ("C",) => 19
  ("K",) => 6
  ("G",) => 10
  ("F",) => 16
  ("A",) => 5
  ("E",) => 11
  ("D",) => 14
  ("N",) => 15
  ("Y",) => 1
  ("V",) => 8
  ("I",) => 4
  ("W",) => 9
  ("Q",) => 12
  ("R",) => 7
  ("S",) => 3
  ("T",) => 17
  ("M",) => 18

In [54]:
bins = 50
ps = []
for (resn, value) in df_grouped.keymap
    println(resn[1], value)
    push!(ps, histogram(df_grouped[value].EXP_DDG, bins=bins, label=resn[1]))
end
p = plot(ps[1],ps[2]))

L2
H13
C19
K6
G10
F16
A5
E11
D14
N15
Y1
V8
I4
W9
Q12
R7
S3
T17
M18

LoadError: syntax: extra token ")" after end of expression